{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "plugins": ["prettier"],
  "extends": ["react-app", "airbnb", "prettier/react"],
  "rules": {
    "no-console": "off",
    "semi": "off",
    "import/no-extraneous-dependencies": [
      "error",
      {
        "devDependencies": true
      }
    ],
    "comma-dangle": ["error", "never"],
    "no-unused-vars": [
      "warn",
      {
        "vars": "local",
        "args": "none"
      }
    ],
    "react/jsx-filename-extension": [
      "error",
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "indent": [2, 2, { "SwitchCase": 1 }],
    "react/prop-types": 0,
    "react/jsx-indent-props": [2, 2],
    "react/jsx-indent": [2, 2],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": true,
        "semi": true,
        "trailingComma": "none",
        "printWidth": 80,
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "tabWidth": 2,
        "useTabs": false
      }
    ]
  }
}
